In [1]:
import requests
import json
import pandas as pd

In [12]:
data = requests.get('http://api.alquran.cloud/v1/edition/format')

In [13]:
data

In [14]:
results = json.loads(data.text)

In [16]:
df= pd.DataFrame(results)

In [17]:
df.head()

  status  code   data
0     OK   200   text
1     OK   200  audio